
/******************************************************************
General
******************************************************************/
.wrap
{
	width: 90%;
	margin: 0 auto; 
}
/******************************************************************
Hero
******************************************************************/
.hero 
{
	background-color: #F64740;
	padding-top: 15%;
	padding-bottom: 15%;


}
.logo
{

	padding-bottom: 18px; 
}
.form
{
	padding-top: 5px;
}

/******************************************************************
Footer
******************************************************************/
.footer{

	background-color: #291F1E; 
	height: 220px;
}